<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm">
    <app-recipe-item [recipe]="recipe" *ngFor="let recipe of recipes" ></app-recipe-item>
  </div>
</div>

<!--<div class="list">
  <div *ngFor="let item of recipes" class="recipe-card">
    <div class="recipe-text">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
    <img
    src="{{ item.imagePath }}"
    alt="{{ item.name }}"
    class="img-responsive"
    style="max-height: 50px"
  />
  </div>
</div>-->

